
#picture-container{
    height:150px;
    background-color:#81b3c1;
}
.footer-links {
	font-size: 14pt;
	color: rgba(0, 0, 0 , 1);
    padding:10px;
    margin:15px;
}

.column {
    float: left;
    width: 33.33%;
}

ul {
	list-style: none;
}