body {
	background-color: #EEEEEE;
}
.job-posting-title{
	float:left;
	display:inline-block;
	padding: 10px;
	border-radius: .5em;
	outline-color: white;
}

.poster-title {
	margin-right: .5em;
}

#accepted-bid{
	background-color: green;
	width:200px;
	display:inline-block;
	padding-bottom: 5px;
}

#accepted-bid h4{
	color:white;

}

#losing-bid{
	background-color: red;
	width:200px;
	display:inline-block;
	padding-bottom: 5px;
}

#losing-bid h4{
	color:white;

}